.drawer-header {
    padding-top: 10;
    margin-bottom: 16;
    background-color: #34cceb;
    color: #ffffff;
    font-size: 24;
    height: 200;
}

.drawer-item {
    padding: 10;
    color: gray;
    font-weight: 600;
    font-size: 18;
    height: 50;
    text-align: left;
    width: 100%;
    border-width: 0;
    border-color: transparent;
}
.drawer-label {
    margin-left: 30; 
    font-weight: 600;
    font-size: 16;
    vertical-alignment: center;
}

.drawer-name {
    font-size: 14;
    font-weight: 600;
    vertical-alignment: center;
    horizontal-alignment: center;
}
.drawer-wallet {
    margin-left: 10;
    font-size: 12;
    vertical-alignment: bottom;
    horizontal-alignment: left;
}
.todobadge {
    position: relative;
    width: 20;
    height: 20;
    border-radius:100px;
    background: red;
}
.order-button {
    width: 40;
    height: 40; 

}
.order-button-remove {
    width: 30;
    height: 30;
    horizontal-alignment: right; 
    vertical-alignment: top; 
    background-color: red;
    border-radius: 5;
    text-align: center;
}
.order-layout {
    padding: 5;
}

.box {
    border-color: lightgray;
    border-radius: 5;
    margin-bottom: 10;
}